.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  img {
    max-height: 150px;
    max-width: 100%;
  }
  p {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
};

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}