.entrega-container {
  .status-alert {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    img {
      max-height: 70px;
    };
    .vr {
      margin: 0 1.5rem;
    };
  };
  .tp-header {
    text-align: center;
    margin: 1rem 0 2rem 0;
  };
  .pruebas {
    background: var(--bs-gray-900);
    border-radius: var(--bs-border-radius-sm);
    margin-bottom: 1rem;
    width: 100%;
    div {
      span {
        margin-bottom: .5rem;
      };
      display: flex;
      flex-direction: column;
      color: var(--bs-gray-500);
      padding: 2rem;
    };
  };
  .download-icon-button {
    margin-left: auto;
  };
};

.entregas-container {
  .table-container {
    width: 100%;
  };
  .card-body {
    min-height: 603px;
    justify-content: space-between;
  };
  .sin-entregas {
    margin-top: 9rem;
    padding: 1rem;
    padding-top: 0;
    text-align: center;
    img {
      opacity: 0.8;
      width: 210px;
      margin-right: 0rem;
      margin-bottom: 1rem;
      margin-top: 2rem;
    };
    p {
      margin-top: 1rem;
      margin-bottom: 0;
      font-size: 1.25rem;
      font-weight: lighter;
    };
  };
};
